<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/stylelogin.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
	integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
	crossorigin="anonymous" />
<style>
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
</style>
</head>
<body>

	<div class="col-md-4 mx-auto login-sec" style="margin-top:120px;">
		<h2 id="audiowide" class="text-center">Forgot password</h2>
		<form class="login-form" method="POST" th:action="@{/forgot_password}">
		
		    <div class="text-center" th:if="${error != null}">
		       <p th:text="${error}" class="text-danger"></p>
		    </div>
		    <div class="text-center" th:if="${message != null}">
		       <p th:text="${message}" class="text-warning"></p>
		    </div>
		    <div class="text-center">
		      <p style="font-family:crusive;">We will be sending a reset password to your email</p>
		    </div>		
		
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Enter your email" name="email" required>
			</div>

			<div class="mt-2">
				<button id="button1" type="submit" style="background: crimson" class="btn btn-login w-100">Send</button>
			</div>

		</form>

	</div>

</body>
</html>